<div class="jumbotron bg-danger" style="margin-bottom:0px; border-radius: 0; padding: 5px; height: 80px;">
    <div class="bg-ligth text-center">LOGO AQUI centralizada</div>
</div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
    
    
      <button class="navbar-toggler mr-auto" data-toggle="collapse" data-target="#collapse_target">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapse_target">
    
    <ul class="navbar-nav  my-1 mr-auto">
        <li class="nav-item">
            <a href="#" class="nav-link">link 1</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">link 1</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">link 1</a>
        </li>
    </ul>
    <ul class="navbar-nav  my-1 ml-auto">
        <li class="nav-item">
            <a href="#" class="nav-link">link 1</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">link 1</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">link 1</a>
        </li>
    </ul>
    </div>
    <ul class="navbar-nav ml5 my-1 ml-auto"></ul>
        <form class="form-inline mr-auto">
            <input class="form-control w-auto" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
            <button class="btn btn-outline-danger w-auto" type="submit">Pesquisar</button>
          </form>
    </ul>
</nav>
