<%- include ("partials/header.ejs") %>
<%- include ("partials/homenavbar.ejs") %>

<body>
    <div class="jumbotron justify-contet-center" style="margin-bottom:0px; border-radius: 0; padding: 5px;">
    
        <div class="container card mt-3 mb-5">
            
        <div class="card m-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="/img/hobbit.jpg" class="card-img" style="max-height: 500px; min-width: 240px;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title"><b>Hobbit - Uma jornda inesperada</b> </h3>
                  <p class="card-text"><b>Direção:</b> Peter Jackson</p>
                  <p class="card-text"><b>Data de lançamento:</b> 14 de dezembro de 2012</p>
                  <p class="card-text">Como a maioria dos hobbits, Bilbo Bolseiro leva uma vida tranquila até o dia em que recebe uma missão do mago Gandalf. Acompanhado por um grupo de anões, ele parte numa jornada até a Montanha Solitária para libertar o Reino de Erebor do dragão Smaug.</p>
                  <p class="card-text"><small class="text-muted"><b>Duração:</b> 200 minutos</small></p>
                  <p class="card-text"><small class="text-muted"><b>Bilheteria:</b> 200 milhões</small></p>
                  <p class="card-title"><b>Preço:</b> 30,00 R$</p>

                  <div>
                    <div class="my-3">
                        <button type="button" class="btn btn-outline-danger btn-lg">Adiquirir filme</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
    </div>


</body>


  
<%- include ("partials/footer.ejs") %>