<%- include ("partials/header.ejs") %>

<body class="jumbotron bg-danger">
    
      <div class="container justify-content-center">
        <div class="row text-center">
          <div class="col bg-danger">
            
          </div>
          <div class="col-6 bg-danger mt-0 pt-0" style="min-width: 450px;">
            <div class="card w-100 text-center"  style="border: 1px solid grey; border-radius: 3px;">
                <div class="card-header bg-dark">
                  <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="/signup">Registro</a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                    logo centralizado
                  <h3 class="card-title">Bem vindo </h3>
                  <form action="" method="post">
                        
                  <div class="col-sm-12 mt-5">
                    <input type="email" class="form-control form-control-lg" id="colFormLabelLg" placeholder="E-mail">
                  </div>
                  
                  <div class="col-sm-12 mt-3">
                    <input type="password" class="form-control form-control-lg" id="colFormLabelLg" placeholder="Password">
                  </div>

                  <div class="col-sm-12 my-3">
                      <button type="button" class="btn btn-outline-danger btn-lg">Entrar</button>
                  </div>
                  </form>
              </div>
            
                </div>
          </div>
          <div class="col bg-danger">
            
          </div>
        </div>
      </div>
    </body>